<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block css_link %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="header">
            {% block header %}
            {% endblock %}
        </div>
        <div id="container">
            {% block container %}
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
            {% endblock %}
            <h5>Todos os direitos autorais Alan $ Sia</h5>
        </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% block js_link %}{% endblock %}
    </body>
</html>